[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = ">=2.2.25"
djangorestframework = "==3.12.4"
markdown = "*"
django-filter = "*"
flake8 = "*"
environs = "*"
argon2-cffi = "*"
djangorestframework-simplejwt = "*"
djangorestframework-camel-case = "*"
django-cors-headers = "*"
psycopg2-binary = ">=2.8,<2.9"
drf-yasg = "*"
mixer = "*"
redis = "*"
coverage = "*"
pre-commit = "*"
gunicorn = "*"
celery = ">=5.2.2"
sqlparse = ">=0.4.2"
pillow = ">=9.0.0"
urllib3 = ">=1.26.5"
mailjet-rest = "*"

[dev-packages]

[requires]
python_version = "3.8"
