[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.19"
djangorestframework = "==3.12.4"
markdown = "*"
django-filter = "*"
flake8 = "*"
environs = "*"
argon2-cffi = "*"
djangorestframework-simplejwt = "*"
djangorestframework-camel-case = "*"
django-cors-headers = "*"
pillow = "*"
psycopg2-binary = ">=2.8,<2.9"
drf-yasg = "*"
mixer = "*"
celery = ">=4,<=5"
redis = "*"
coverage = "*"
pre-commit = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "3.8"
